<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/alquiler">alquileres</a></li>
            <li><a href="/videojuegos">Videojuegos</a></li>
            <li><a href="/genero">generos</a></li>
            <li><a href="/plataforma'}">plataforma</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>