<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Alquileres</h1>
    </div>
    <div>
        <form action="{% url 'crear_alquiler' %}">
            <button>Alquilar Videojuego</button>
        </form>
    </div>
    <div>
        <h2>Lista de alquileres</h2>
        <table>
            {% for alquiler in alquileres %}
            {{alquiler.cliente}}
            {{alquiler.videojuego}}
            {{alquiler.estado}}
            {{alquiler.fecha_alquiler}}
            {{alquiler.fecha_devolucion}}
            {% if alquiler.estado == "Alquilado" %}
            <form action="{% url 'concretar_alquilar' alquiler.id %}" method="post">
                {% csrf_token %}

                <button>Concretar</button>
            </form>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</body>
</html>